header {
    width: 80;
    background-color: aliceblue;
    margin: 5%;
    padding: 5%;
    
}
h1 {
    text-align: center;
}

.pinkButton {
    background-color: lightpink;
    border-radius: 2px;
    border: none;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px
}

#container {
    background-color: aliceblue;
    margin: 5%;
    padding: 5%;
    text-align: center;
}

#sideBySide {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}